[projects]
homepage={{ gerrit_projects_homepage }}
acl-dir={{ gerrit_projects_acl_dir }}
local-git-dir={{ jeepyb_local_git_dir }}
jeepyb-cache-dir={{ jeepyb_cache_dir }}
gerrit-host={{ gerrit_projects_host }}
gerrit-user={{ gerrit_projects_user }}
gerrit-committer={{ gerrit_projects_committer }}
gerrit-key={{ gerrit_projects_key }}
gerrit-system-user={{ gerrit_projects_system_user }}
gerrit-system-group={{ gerrit_projects_system_group }}
has-wiki=False
has-issues=False
has-pull-requests=False
has-downloads=False
has-github=False
